html,
html::before,
html::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-size: 14px;
  line-height: calc(24 / 14);
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #474b57;

  a {
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    color: inherit;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: url('~img/night-bg-desktop@1x.jpg') no-repeat center center;
  background-size: cover;
}

.content {
  flex: 1;
  background-color: rgba(#ffffff, 0.85);
}

/*@media screen and (min-width: $tablet) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

@media screen and (min-width: $desktop) {
  body {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}*/
