.title {
  margin: 0;
  padding: 20px 0 10px 0;
}

.form {
  padding-bottom: 10px;
}

@media screen and (min-width: $tablet) {
  .title {
    padding-top: 43px;
    padding-bottom: 32px;
    font-size: 21px;
  }

  .form {
    padding-bottom: 85px;
  }

  .button {
    &--form {
      padding: 14px 20px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .about {
    height: 100%;
  }

  .form-content {
    display: flex;
    flex-wrap: wrap;
  }

  .form {
    padding-bottom: 0;
  }
}
