.header {
  padding-top: 16px;
  padding-bottom: 7px;
  background-color: $blue;
}

.header-wrapper {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: calc(34 / 21);
  text-transform: none;
  color: white;
}

.return {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: rgba(#ffffff, 0.7);
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: white;

    text-decoration: none;
  }

  &:active {
    color: rgba(white, 0.9);
    text-decoration: none;
  }
}

@media screen and (min-width: $tablet) {
  .header-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    width: 708px;
  }

  .header {
    padding-top: 26px;
    padding-bottom: 21px;
  }

  .return {
    font-size: 16px;
  }
}

@media screen and (min-width: $desktop) {
  .header-wrapper {
    align-items: center;
    width: 1140px;
  }

  .header {
    padding-top: 18px;
    padding-bottom: 17px;
  }

  .title {
    font-size: 28px;
  }
}
