td {
  vertical-align: middle;
}

.label {
  position: relative;
}

.name {
  width: 123px;
  padding: 0 20px;
}

.value {
  width: 46px;
}

.perc {
  padding-left: 12px;
}

.input {
  width: 100%;
  padding: 8px 10px;
  border: none;
  text-align: center;
  border-radius: 5px;
}
